<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width' />
    <title>{{title}}</title>

    <script src='{{STATIC_URL}}js/jquery.js'></script>
    <script src='{{STATIC_URL}}js/main.js'></script>
    <link media='all' rel='stylesheet' href='{{STATIC_URL}}css/main.css' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id='wrap'><div id='main'>
        <div id='header'>
            <div class='logo'>
                <div class='circle'>
                    <img src='{{STATIC_URL}}img/logo.png' alt='revius' />
                    <p>REVIEWING THE INTERNET</p>                                
                </div>
                <div class='clear'></div>
            </div>
            <form action='' id='search'>
                <input id='' name='' type='text' placeholder='Search for reviews, articles and more'/>
                <input type='submit' value='' />
                <div class='triangle'></div>
            </form>
            <div class='login'>
                <div class='url'>
                    <a href='#'>Login |</a>
                    <a href='#'>Register</a>
                </div>
            </div>
            <div class='clear'></div>
        </div><!--Header-->
        <div class='content {{current_page}}'>
            {% block main %}
                <h1> Sin contenido</h1>
            {% endblock %}
        </div>
    </div></div>
    <div id='footer'>
        <hr /> 
        <div class='logo Footer'>
            <img src='{{STATIC_URL}}img/logo.png' alt='revius' />
            <p>REVIEWING THE INTERNET</p>
        </div>
        <div class='info'>
            <ul class='pages'>
                <li><a href=''>About Us</a>|</li>
                <li><a href=''>Contact Us</a>|</li>
                <li><a href=''>Advertising</a>|</li>
                <li><a href=''>Send a message</a>|</li>
                <li><a href=''>Terms of Use</a></li>
            </ul>
            <ul class='social'>
                <li class='term'>2013 revyus | All right reserved</li>
                <li>Follow us:</li>
                <li><span class='icon'></span></li>
                <li><span class='icon'></span></li>
            </ul>
        </div>
    </div>
</body>
</html>
