        <div class='review'>
            <div class='img'>
                <img src='{{STATIC_URL}}img/sorry_tn.jpg' alt='' />
            </div>
            <div class='info'>
                <p class='name'> perro</p>
                <hr /> 
                <p class='extract'>Este es un review acerca del perro pug</p>
                <div class='wrapper'>
                    <div class='tags'>
                        <ul>
                            <li><a href='/admin'>perro</a></li>
                            <li><a href=''>otro</a></li>
                            <li><a href='/admin'>uno mas</a></li>
                            <li><a href=''>as</a></li>
                            <li><a href=''>da</a></li>
    
                        </ul>
                    </div>
                    <div class='data'>
                        <a class='botos' href=''>8k</a>
                        <a class='comments' href=''>46</a>            
                    </div>
                </div>
            </div>
        </div>

